<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Blog pro de Assane Thione Ba">
    <meta name="author" content="Assane Thione Ba">

    <title>Connectez-vous</title>

    {# We put base to /Blog/public because of the url rewritting in .htaccess wich point there #}
    <base href="/blog/public/">

    <!-- Custom fonts for this theme -->
    <link href="node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7cLato:400,700,400italic,700italic" rel="stylesheet" >

    <!-- Theme CSS -->
    <link href="node_modules/startbootstrap-freelancer/css/freelancer.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="assets/css/sign-in.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="d-none d-md-flex card-img-left" id="moving-background">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">S'inscrire</h5>
                    <form class="form-signin" action="../user/register" method="post">
                        <div class="form-label-group">
                            <input type="text" name="pseudo" id="inputUserame" class="form-control" placeholder="Pseudo" required autofocus>
                            <label for="inputUserame">Pseudo</label>
                        </div>

                        <div class="form-label-group">
                            <input type="text" name="firstName" id="inputfirstName" class="form-control" placeholder="Prénom(s)" required autofocus>
                            <label for="inputfirstName">Prénom(s)</label>
                        </div>

                        <div class="form-label-group">
                            <input type="text" name="lastName" id="inputlastName" class="form-control" placeholder="Nom" required autofocus>
                            <label for="inputlastName">Nom</label>
                        </div>

                        <div class="form-label-group">
                            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required>
                            <label for="inputEmail">Email</label>
                        </div>

                        <hr>

                        <div class="form-label-group">
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <label for="inputPassword">Password</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" name="confirmPassword" id="inputConfirmPassword" class="form-control" placeholder="Password" required>
                            <label for="inputConfirmPassword">Confirm password</label>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">S'inscrire</button>
                        <a class="d-block text-center mt-2 small" href="login.html.twig">Déjà membre ? Connectez-vous</a>
                        <hr class="my-4">
                        <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
                        <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
