{% extends 'layout/layout.twig' %}

{% block subtitle %}Signup{% endblock %}
{% block description %}Blog of the PHP-MVC project{% endblock %}

{% block body %}
    <main id="signup" class="">

            {{ session.user }}
        <section class="flex justify-center sm:m-16">

             <div class="w-full max-w-xs">
              <h1 class="text-4xl text-blue-500 font-bold text-center mb-4"> Inscription </h1>

              <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action={{ url('user!create') }} method="post" enctype="multipart/form-data">
                 <div class="mb-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Login
                  </label>
                  <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="login" type="text" name="login" placeholder="Nom">
                </div>
                <div class="mb-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Email
                  </label>
                  <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" name="email" type="text" placeholder="Email">
                </div>
                <div class="mb-6">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Password
                  </label>
                  <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" name="password" type="password" placeholder="******************">
                </div>
                <div class="flex items-center justify-between">
                  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    S'Incrire
                  </button>
                  <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
                    Forgot Password?
                  </a>
                </div>
            </form>
         
             </div>

        </section>

    </main>
{% endblock %}