<nav>
    <div class="nav-menu flex py-5">
       <div class=" font-bold"><a href="index.php">Home</a></div>
        <div class="ml-5"><a href="{{ url('article') }}">Blog</a></div>
        <div class="ml-5"><a href="/contact.php">Contact</a></div>
    </div>
    <div class="nav-icon"> <span class=""></span> </div>
</nav>